<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Farmhand</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

    {% style "/css/screen.css" %}
  </head>
  <body>
      <!-- navbar -->
      <nav class="navbar navbar-dark bg-primary" role="navigation">
          <button class="navbar-toggler hidden-sm-up"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapsing-navbar">
              &#9776;
          </button>
          <div class="collapse navbar-toggleable-xs" id="collapsing-navbar">
              <a class="navbar-brand" href="/">Farmhand</a>
              <ul class="nav navbar-nav">
                  <li class="nav-item">
                      <a href="/in-flight"
                         class="nav-link{% ifequal page "in_flight.html" %} active{%endifequal%}">
                        In Flight
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="/completed"
                         class="nav-link{% ifequal page "completed.html" %} active{%endifequal%}">
                        Completed
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="/failed"
                         class="nav-link{% ifequal page "failed.html" %} active{%endifequal%}">
                        Failed
                      </a>
                  </li>
              </ul>
          </div>
      </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
